body {
  color: white;
  background-color: #242424;
  font-family: 'Lexend';
  user-select: none;
}

button {
  all: unset;
  cursor: pointer;
  background-color: rgb(100, 100, 100);
  border-radius: 8px;
  padding: 4px 8px;
}

button:active {
  background-color: rgb(150, 150, 150);
}

.macos-body {
  background-color: transparent !important;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 1rem;
}

.top span {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  white-space: nowrap;
}

.top button {
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
}

.mobile .list {
  background-color: #484848;
  border-radius: 16px;
  padding: 16px 0px;
  margin-top: 4rem;
}

.mobile .list .item {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
}

.mobile .list .item + .item::before {
  content: "";
  position: absolute;
  top: -16px;
  left: 16px;
  right: 16px;
  height: 1px;
  background-color: rgb(128, 128, 128);
}

.mobile .list .item + .item {
  margin-top: 32px;
}

.desktop .list {
  font-size: 16px;
  border-radius: 16px;
  margin-top: 4rem;
}

.desktop .list .item {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: relative;
}

.desktop .list .item + .item::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 8px;
  right: 8px;
  height: 1px;
  background-color: rgb(128, 128, 128);
}

.desktop .list .item + .item {
  margin-top: 16px;
}
